name: Sync README from source repo

on:
  workflow_run:
    workflows: ["cheaters_update"]
    types: [completed]
  workflow_dispatch: # 允许手动触发

jobs:
  sync: 
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}   #
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4

      - name: Sync to target repo
        run: |
          git config --global user.email "337557380@qq.com"
          git config --global user.name "ForeverAM"

          git clone https://${{ secrets.LIST_TRANSFER }}@github.com/ForeverAM/AC7cheaters.git target-repo

          cp README.md target-repo/

          cd target-repo
          git add README.md
          git commit -m "Sync README from source repo" || exit 0
          git push
